
@font-face {
	font-family: fontawesome;
	src: url(./../fonts/fontawesome-webfont.woff) format('woff');
}
@font-face {
	font-family: SourceSansPro;
	font-weight: 1;
	src: url(../fonts/SourceSansPro-Light.ttf) format("truetype");
}
@font-face {
	font-family: SourceSansPro;
	font-weight: 2;
	src: url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
}

@font-face {
	font-family: SourceSansPro;
	font-weight: 3;
	src: url(../fonts/SourceSansPro-SemiBold.ttf) format("truetype");
}
@font-face {
	font-family: SourceSansPro;
	font-weight: 4;
	src: url(../fonts/SourceSansPro-Bold.ttf) format("truetype");
}

