
@media (max-width:1380px){ 
        .t7-main__container{
           
            width:100%;
        }
        img{
            width:100%;
            height:auto;
        }
        
        .t7-skill__box{
            margin-right:2%;
            margin-top:0%;
        }  
       
        .t7-text__title{
            margin-bottom: 0.3rem;
        }  
        .t7-text__title_l{
            max-width:100%;
        }
        .t7-text__paragraph{
            line-height: 1.2rem;
            margin-bottom: 0.1rem;
        }
        .t7-text__container_center{ 
            margin-top:20%;
        }
        .t7-form-feedback__input { 
            line-height: 2.0rem;
            padding-left:5px;
        }
        .t7-form-feedback__message-box {
            padding-left:5px;
            line-height: 1.5rem;
        }
        .t7-form-feedback__button {
            margin-top: 0.3rem;
            padding-top:0.3rem;
            padding-bottom: 0.3rem;
        }

    }
@media (max-width:1000px){

    .t7-main__container{
        margin:auto;
        width:100%;
        height:100%;
        
    }
    .t7-section-block__base{
        display:block;
    }
    .t7-section-block__element_size-xl{
        height:80vh;
    }
    
    
    .t7-menu__list{
        position:fixed;
        top:0;
        margin:0;
        width:100%;
        padding-top:3px;
        padding-bottom:3px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .t7-menu__item{
        margin-left: 0;
    }
    .t7-menu__item:link{
        color:sandybrown    ;
    }    
    .t7-section-block__element{
        width:100%;
        
    }
    .t7-text__container_center{ 
        margin-top:0%;
        padding-top:15%;
        padding-bottom:15%;
    }
    .t7-text__container_full-size{
        margin:0;
    }
    
    .t7-skill__box{
        margin-right:2%;
        margin-top:2%;
    }  
    .t7-text__title{
        margin-bottom: 0.3rem;
    }  
    .t7-text__paragraph{
        line-height: 1.2rem;
        margin-bottom: 3px;
    }
    .t7-form-feedback__input { 
        line-height: 2.0rem;
        padding-left:5px;
        
    }
    .t7-form-feedback__message-box {
        padding-left:5px;
        line-height: 1.5rem;
    }
    .t7-form-feedback__button {
        margin-top: 0.3rem;
        padding-top:0.3rem;
        padding-bottom: 0.3rem;
    }
    
    .t7-text__icon{
        padding-bottom:0.2rem;
    }
    
    .t7-text__title_s{
        max-width:100%;
    }
    .t7-text__title_l{
        max-width:100%;
    }
    .t7-text__container_full-size{
        margin: 0%;
        height:100%;
        padding-left:0%;
        padding-right:0%;
        width:100%;
    }
    #section6{
        width:100%;
        font-size:50%;
        margin: 0;
    }
    .t7-foot{
        width:100%;
    }
}
@media (max-width:750px){
.t7-text__container{
    margin:5px;
}

.t7-text__paragraph{
    line-height: 1.2rem;
    margin-bottom: 0.1rem;
}
.t7-text__container_full-size{
    margin: 0%;
    height:100%;
    padding-left:0%;
    padding-right:0%;
    width:100%;
}
.t7-skill__name{
    padding-bottom: 3px;
}
.t7-section-block__element_size-xs{
    height:45vh;
}
.t7-section-block__element_size-s{
    height:52vh;
}
}
@media (max-width:500px){
  html{
      font-size:15px;
  }  
        .t7-main__container{
            width:100%;
        }
        .t7-section-block__base{
            display:block;
        }
        .t7-section-block__element{
            width:100%;
        }
        .t7-section-block__element_size-xl{
            height:65vh;
        }
        .t7-section-block__element_size-l{
            height:50vh;
        }
        .t7-section-block__element_size-m{
            height:50vh;
        }
        .t7-section-block__element_size-s{
            height:48vh;
        }
        .t7-section-block__element_size-xs{
            height:45vh;
        }
        .t7-text__container_center{ 
            padding-top:15%;
        }
        .t7-text__container{
            margin:5px;
        }
        
        .t7-text__container_quarters{
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 0%;
            margin-right: 0%;   
        }
        
        .t7-skill__box{
            margin-right:0%;
            margin-top:0%;
        }  
        .t7-text__title{
            margin-bottom: 2px;
        }  
        .t7-text__title_s{
            margin-top:2px; 
            max-width:100%;
            
        }
        .t7-text__title_l{
            line-height:2rem;
            max-width:100%;
        }
        .t7-text__paragraph{
            line-height: 1rem;
            margin-bottom: 0.1rem;
        }
        .t7-form-feedback__input { 
            line-height: 2.0rem;
           width:90%;
            
        }
        .t7-form-feedback__message-box {
            width:90%;
            line-height: 1.5rem;
        }
        .t7-form-feedback__button {
            margin-top: 0.3rem;
            padding-top:0.3rem;
            padding-bottom: 0.3rem;
        }
        .t7-text__icon{
            padding-bottom:0.2rem;
        }
        .t7-text__title_l{
            margin-bottom:1rem;
        }
        .t7-text__container_full-size{
            margin: 0%;
            height:100%;
            padding-left:0%;
            padding-right:0%;
            width:100%;
        }
        .t7-list__box{
            margin-top:5px;      
        }
       
       
        #section6{
            width:100%;
            font-size:50%;
            margin: 0;
        }
        .t7-foot{
            width:100%;
        }
        .t7-foot__content{
            font-size:12px;
        }

    }
    @media (max-width:400px){
        .t7-list__box{
            margin-top:2px;      
        }
        .t7-list__icon{
            padding-top:5px;
            font-family:'fontawesome';
            font-size:2rem;    
        }
        .t7-list__name{
            font-size:1.5rem;
            font-weight:300;
            padding-left:10px;
        }
        .t7-list__date{
            color:black;
            font-weight:600;
            font-size:1rem; 
            margin-left:50px;
            margin-top:0;
        }
        .t7-list__comment{
            font-size:1rem;
            font-weight:300;
            padding-left:3.0rem;
        }
    }
    @media (max-width:350px){
        .t7-section-block__element_size-xxs{
            height:45vh;
        }
        .t7-section-block__element_size-s{
            height:60vh;
        }
    }