.hw-box__wrapper{
    width:900px;
    height:2000px;
    background-color: rgba(255, 255, 255, 0.8);
    margin:auto ;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
.hw-wrapper__hearder{
    overflow:hidden;
    max-height: 250px;
    max-width:900px;
    background-color: whitesmoke;
   
}

.hw-hearder__box-logo{
    z-index: 2;
    background-color:  rgba(255,255,255,0.8);
    width:325px;
    height:90px;
    position: absolute;
    margin-top: 80px; 
    margin-left: 290px;

    
}
.hw-hearder__logo{
    
    width:310px;
    height:60px;
    background-color: rgba(255,255,255,0.6);
    border:3px solid black;
    margin:auto;
    margin-top: 5px;
    text-align: center;
    font-family: 'Mistral','Seaweed Script';
    font-size: 46px;
    padding-top:0.2em;
    
  }
.hw-hearder__hearder-background{    
    z-index: 1 ;
    transform: rotate(-7deg);
    display:flex;
    flex-flow:row wrap;
    margin:-40px;
    
}
   

.hw-background-icon__icon{
    width: 24px;
    height: 24px;
    background: url(./../images/icons.png);
    border-radius: 5px;
    margin-right:15px;
    margin-bottom:15px;
    display:flex;
     
  }
  
.hw-icon_facebook-icon  {
     background-position: -8px -48px;      
}

.hw-icon_flickr-icon  { /*two white dots*/
    background-position: -49px -48px;
}

.hw-icon_dribbble-icon  { /*a ball*/
    background-position: -90px -48px;
}

.hw-icon_google-icon {
    background-position: -131px -48px;
}

.hw-icon_linkedin-icon {
    background-position: -172px -48px;
}

.hw-icon_pinterest-icon{
    background-position: -213px -48px;
}

.hw-icon_rss-icon{
    background-position: -254px -48px;
}

.hw-icon_skype-icon{
    background-position: -295px -48px;
}
.hw-icon_twitter-icon{
    background-position: -336px -48px;
}
.hw-icon_vk-icon{
    background-position: -377px -48px;
}
.hw-icon_youtube-icon{
    background-position: -418px -48px;
}


.hw-wrapper__content{
    display:flex;
    flex-flow: column;

}


.hw-content__content-block{
    height:110px;
    margin-left:5px;
    margin-right:  2px;
    margin-top: 10px;
    padding-left:25px;
    padding-top: 25px; 
}

.hw-content-block_light-block{
    background-color:white;
    border: 1px solid lightgray;
}

.hw-content-block_dark-block{
    background-color:dimgray;
    
}

.hw-button-block__rows{
    display: flex;
    flex-flow: row;
    margin-bottom:5px;
}
.hw-button-block__button{
    margin-right:5px; 
   
    border-radius:3px;
    border: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.7);
    color:white;  

}

.hw-button_pink-button{
    background: linear-gradient(to top, mediumvioletred,pink);
}

.hw-button_pink-button-size{
    width:105px;
    height:25px;
    font-size: 18px;
}

.hw-button_green-button{
    background: linear-gradient(to top, green, greenyellow); 
    margin-top:0.75em;
    
}
.hw-button_green-button-size{
    width:60px;
    height:16px;
    font-size: 8px;

}
.hw-button_blue-button{
    background: linear-gradient(to top, cornflowerblue, lightblue);
}

.hw-button_blue-button-size{
    width:50px;
    height:16px;
    font-size: 7px;
}

.hw-button_red-button{
    background: linear-gradient(to top, crimson, lightcoral);
}
.hw-button_red-button-size{
    width:50px;
    height:16px;
    font-size: 7px;
}

.hw-button_orange-button{
    background: linear-gradient(to top,orangered, darkorange);
}
.hw-button_orange-button-size{
    width:65px;
    height:16px;
    font-size: 8px;

}
.hw-button_yellow-button{
    background-color: orange; 
}
.hw-button_yellow-button-size{
    width:65px;
    height:16px;
    font-size: 8px;
}

.hw-button_small-button{
    font-size:44%;
    width: -webkit-fit-content;
    height:14px;
}
  
  